@inherits LayoutComponentBase

<section>
    <BlazoredToasts />
    <UserNotification />

    <main id="main" class="main">
        <Header />
        <div class="full-page">
            <NavMenu />
            <div class="col p-0 ">
                @Body
            </div>
        </div>
    </main>
</section>
